@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* 
--------------------------
---------- HEADER -------- 
--------------------------
*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

header > img {
  height: 60px;
}

header > h1 {
  font-size: 20px;
  font-weight: bold;
}

/* 
--------------------------
---------- Main -------- 
--------------------------
*/

.mainContainer {
  width: 580px;
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border-bottom: 1px #e5e5e5 solid;
  padding-bottom: 20px;
}

.time {
  font-weight: bold;
  margin: auto 0;
}

.programDetails {
  /* border: solid blue 5px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.programDetails > h2 {
  font-weight: bold;
}
.programDetails > p {
  color: gray;
  font-size: 12px;
}

.bottomDetails {
  font-size: 12px;
  font-weight: bolder;
  display: flex;
  gap: 10px;
}
.red {
  color: red;
}
